<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SUPERawesomeSONGgenerator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script type="text/javascript">
        $(document).ready(function () {
            function load() {
                $.ajax({
                    'type': 'GET',
                    'dataType': 'json',
                    'url': 'http://127.0.0.1:5000/generuj',
                    'success': function (data) {
                        for (i = 0; i < data.zwrotki.length; i++) {
                            $('.disco').append('<div class="z"><p>Zwrotka</p></div>');
                            $('.z').hide().delay(1000*(Math.floor((Math.random() * 6) + 1))).fadeIn(1000);

                            for (k = 0; k < data.zwrotki[i].length; k++) {
                                a = Math.floor((Math.random() * 6) + 1);
                                a2 = 1000 * (i + k);
                                $('.disco').append(
                                    '<div class=k' + i + k + '>' +
                                    '<h' + a + ' class="stroke">' + data.zwrotki[i][k] + '</h' + a + '></div>'
                                );
                                $('.k' + i + k).hide().delay(a2).fadeIn(1000);
                            }
                            $('.disco').append('<div class="r"><p>Refren</p></div>');
                            $('.r').hide().delay(1000*(Math.floor((Math.random() * 6) + 1))).fadeIn(1000);
                            for (j = 0; j < data.refren.length; j++) {
                                b = Math.floor((Math.random() * 6) + 1);
                                b2 = 1000 * (j + i + k);
                                $('.disco').append(
                                    '<div class=j' + j + '>' +
                                    '<h' + b + ' class="stroke">' + data.refren[j] + '</h' + b + '></div>'
                                );
                                $('.j' + j).hide().delay(b2).fadeIn(1000);
                            }
                        }
                    }
                })
            }

            load()
        })
    </script>
</head>
<body>
<h2 style="font-size: 30px;">Generator Tekstu DiscoPolo:</h2>
<div style="margin: 0 auto;" class="disco">
<div id="tekst"></div>
</div>
<footer class="alwaysbottom"><img src="static/ssssh.png" alt="ssssh"></footer>
</body>
</html>