<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SUPERawesomeSONGgenerator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script type="text/javascript">
        $(document).ready(function () {
            function load() {
                $.ajax({
                    'type': 'GET',
                    'dataType': 'json',
                    'url': 'http://127.0.0.1:8000/generuj',
                    'success': function (data) {
                        for (i = 0; i < data.zwrotki.length; i++) {
                            for (k = 0; k < data.zwrotki[i].length; k++) {
                                console.log(data.zwrotki[i][k]);
                            }
                            for (j = 0; j < data.refren[0].length; j++) {
                                console.log(data.refren[0][j]);
                            }
                        }
                    }
                })
            }

            load()
        })
    </script>
</head>
<body>
<h2>Generator Tekstu DiscoPolo:</h2>
</body>
</html>